---
import Footer from "../components/footer";
import NavBar from "../components/nav-bar";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
		<meta name="generator" content={Astro.generator} />
		<title>Three Rivers Behavioral Health</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<NavBar client:load />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer client:load/>
	</body>
</html>

