---
import Footer from "../components/footer";
import NavBar from "../components/nav-bar";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- Title & Description -->
  <title>Three Rivers Behavioral Health | Psychiatric Inpatient, Residential & Intensive Outpatient Programs</title>
  <meta
    name="description"
    content="Three Rivers Behavioral Health offers compassionate and comprehensive psychiatric inpatient, residential treatment and intensive outpatient programs for adults with mental health and neuro-psychiatric diagnoses in West Mifflin, PA."
  />

  <!-- Keywords -->
  <meta
    name="keywords"
    content="Three Rivers Behavioral Health, TRBH, psychiatric inpatient treatment, adult residential mental health services, intensive outpatient program IOP, older adult psychiatric care, anxiety treatment, depression treatment, trauma informed therapy, EMDR, DBT, schizophrenia treatment, West Mifflin psychiatric hospital, PA mental health facility, mental health hospital Pittsburgh area, neuropsychiatric disorders treatment, dual diagnosis care"
  />

  <!-- Open Graph / Social Media -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://trbhcares.com/" />
  <meta property="og:title" content="Three Rivers Behavioral Health | Healing Minds & Changing Lives" />
  <meta
    property="og:description"
    content="Providing patient-focused psychiatric care: inpatient hospitalization, residential services & intensive outpatient programs for adults at Three Rivers Behavioral Health."
  />
  <meta property="og:image" content="/background/care-home-banner.webp" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Three Rivers Behavioral Health | Adult Psychiatric Programs" />
  <meta
    name="twitter:description"
    content="Explore Three Rivers Behavioral Health’s comprehensive programs for adults: inpatient, residential, and intensive outpatient psychiatric services."
  />
  <meta name="twitter:image" content="/background/care-home-banner.webp" />

  <!-- Robots & Author -->
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Three Rivers Behavioral Health" />

  <!-- Canonical URL -->
  <link rel="canonical" href="https://trbhcares.com/" />
</head>

	<body class="flex flex-col min-h-screen">
		<NavBar client:load />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer client:load/>
	</body>
</html>